data/blacklist.txt
data/channel_blacklist.txt
data/pref.txt
data/osu_scores.txt
data/osu_scores_userlist.txt
data/yrexia/userlist.json
data/yrexia/bridge/common/*
data/yrexia/bridge/private/*
oppai_cache/
/.vs
